<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <header>
        <div class="header__container">
            <nav>
                <a href="#" class="nav__link">Works</a>
                <a href="#" class="nav__link">Blog</a>
                <a href="#" class="nav__link">Contact</a>
                <a href="#" class="nav__link">Works</a>
            </nav>
        </div>
    </header>
    <div class="about__block home__container">
        <div class="about-info__block">
            <div class="about__title">
                <p class="title-greet">
                    Привіт, я - Денис <br>
                    Технік-взломник
                </p>
            </div>
            <div class="about__suptitle">
                <p class="additional-info">
                    
                </p>
            </div> 
            <div class="download-btn">
                <a href="#" class="download-resume">Download resume</a>
            </div>
        </div>
        <div class="avatar__block ">
            <img src="./photos/Ellipse 1.png" alt="something went wrong" class="my__page">
        </div>
    </div>
    <div class="wrapper">
        <div class="resent-posts__block">
            <div class="resents-nav">
                <p class="resents-nav__el">Нещодавні пости</p>
                <p class="resents-nav__view-all">Дивитися всі</p>
            </div>
            <div class="articles">
                <div class="resent-article">
                    <p class="article-title">
                        Як встновити піратський майнкрафт? 
                    </p>
                    <div class="article-info">
                        <div class="">
                            <p class="article-date">12 Лютий 2020</p>
                        </div>
                        <div class="">
                            <p class="article-name">Автор</p>
                        </div>
                    </div>
                    <div class="article-suptitle">
                        <p class="suptitle-text">
                            Багато тексту
                        </p>
                    </div>
                </div>
                <div class="resent-article">
                    <p class="article-title">
                        Як видалити віруси та зайвий софт після встановлення майнкрафту?
                    </p>
                    <div class="article-info">
                        <div class="">
                            <p class="article-date">12 Лютий 2020</p>
                        </div>
                        <div class="">
                            <p class="article-name">Автор</p>
                        </div>
                    </div>
                    <div class="article-suptitle">
                        <p class="suptitle-text">
                            Багато тексту
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="featured__block">
        <div class="featured__title">
            <p class="featured__text">
                Мої роботи
            </p>
        </div>
        <div class="featured-example">
            <div class="img-container">
                <img class="examle-img" src="./photos/iphone.jpg" alt="something went wrong">
            </div>
            <div class="example-info">
                <p class="example-title">Перепрошивання IPhone</p>
                <div class="year-type">
                        <p class="year-text">2021</p>
                        <p class="type-text">Software</p>
                </div>
                <div class="example-suptitle">
                    <p class="examle-text">
                        Багато тексту
                    </p>
                </div>
            </div>
        </div>
        <div class="featured-example">
            <div class="img-container">
                <img class="examle-img" src="./photos/iphone.jpg" alt="something went wrong">
            </div>
            <div class="example-info">
                <p class="example-title">Зашивання IPhone</p>
                <div class="year-type">
                        <p class="year-text">2021</p>
                        <p class="type-text">Programator</p>
                </div>
                <div class="example-suptitle">
                    <p class="examle-text">
                        Багато тексту
                    </p>
                </div>
            </div>
        </div>
        <div class="featured-example">
            <div class="img-container">
                <img class="examle-img" src="./photos/iphone.jpg" alt="something went wrong">
            </div>
            <div class="example-info">
                <p class="example-title">Правильна утилізація IPhone</p>
                <div class="year-type">
                        <p class="year-text">2021</p>
                        <p class="type-text">Hardware</p>
                </div>
                <div class="example-suptitle">
                    <p class="examle-text">
                        Багато тексту
                    </p>
                </div>
            </div>
        </div> 
    </div>
    
    <footer class="footer">
        <div class="footer-container">
            <a href="#" class="socials">
                <img src="./icons/fb.png" alt="something went wrong" class="icon">
            </a>
            <a href="#" class="socials">
                <img src="./icons/insta.png" alt="something went wrong" class="icon">
            </a>
            <a href="#" class="socials">
                <img src="./icons/Group.png" alt="something went wrong" class="icon">
            </a>
            <a href="#" class="socials">
                <img src="./icons/Linkedin.png" alt="something went wrong" class="icon">
            </a>
            <p class="footer-text">
                Copyright ©2020 All rights reserved 
            </p>
        </div>
    </footer>
</body>
</html>