<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style/style.css">
</head>

<body>
    <div class="table-container">
        <table class="table lesson-color-block" id="timeTable">
            <tbody>
                <tr>
                    <th class="headday">Пн</th>
                    <th class="headdate"><div>11.12.2023</div></th>
                    <th class="headdate"><div>18.12.2023</div></th>
                    <th class="headdate"><div>25.12.2023</div></th>
                    <th class="headdate"><div>01.01.2024</div></th>
                    <th class="headdate"><div>08.01.2024</div></th>
                </tr>
                <tr>
                    <td class="headcol">
                        <span class="lesson">2 пара</span>
                        <span class="start"><strong>09:45</strong></span>
                        <span class="end"><strong>11:20</strong></span>
                    </td>
                    <td class="closed"></td>
                    <td>
                        <div class="cell">
                            <div class="lesson-1 ">
                                <p>
                                    ДТМІ-2018<strong>[Лк]</strong><br>
                                    <strong>ауд. Дистанц.</strong><br>
                                    <i>Шрам М.М.</i>
                                </p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="cell"></div>
                    </td>
                    <td>
                        <div class="cell"></div>
                    </td>
                    <td>
                        <div class="cell">
                            <div class="lesson-5">
                                <p>
                                    ХТ-15<strong>[Экз]</strong><br>
                                    <strong>ауд. 207К</strong><br>
                                    <i>Шикула О.М.</i>
                                </p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="headcol">
                        <span class="lesson">3 пара</span>
                        <span class="start"><strong>11:45</strong></span>
                        <span class="end"><strong>13:20</strong></span>
                    </td>
                    <td class="closed"></td>
                    <td>
                        <div class="cell">
                            <div class="lesson-1 ">
                                <p>
                                    ЗВВБ-2017<strong>[Лк]</strong><br>
                                    <strong>ауд. 323К</strong><br>
                                    <i>Чатченко О.Є.</i>
                                </p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="cell">
                            <div class="lesson-1 ">
                                <p>
                                    ПРО-2017<strong>[Лк]</strong><br>
                                    <strong>ауд. 217-З</strong><br>
                                    <i>Торошанко Я.І.</i>
                                </p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="cell"></div>
                    </td>
                    <td>
                        <div class="cell"></div>
                    </td>
                </tr>
                <tr>
                    <td class="headcol">
                        <span class="lesson">4 пара</span>
                        <span class="start"><strong>13:30</strong></span>
                        <span class="end"><strong>15:05</strong></span>
                    </td>
                    <td class="closed"></td>
                    <td>
                        <div class="cell">
                            <div class="lesson-1 ">
                                <p>
                                    ХТ-15<strong>[Лк]</strong><br>
                                    <strong>ауд. 217-З</strong><br>
                                    <i>Шикула О.М.</i>
                                </p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="cell"></div>
                    </td>
                    <td>
                        <div class="cell"></div>
                    </td>
                    <td>
                        <div class="cell"></div>
                    </td>
                </tr>
                <tr>
                    <td class="headcol">
                        <span class="lesson">5 пара</span>
                        <span class="start"><strong>15:15</strong></span>
                        <span class="end"><strong>16:50</strong></span>
                    </td>
                    <td class="closed"></td>
                    <td>
                        <div class="cell">
                            <div class="lesson-1 ">
                                <p>
                                    ПРО-2017<strong>[Лк]</strong><br>
                                    <strong>ауд. 217-З</strong><br>
                                    <i>Торошанко Я.І.</i>
                                </p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="cell"></div>
                    </td>
                    <td>
                        <div class="cell"></div>
                    </td>
                    <td>
                        <div class="cell"></div>
                    </td>
                </tr>
                <tr>
                    <th class="headday">Вт</th>
                    <th class="headdate"><div>12.12.2023</div></th>
                    <th class="headdate"><div>19.12.2023</div></th>
                    <th class="headdate"><div>26.12.2023</div></th>
                    <th class="headdate"><div>02.01.2024</div></th>
                    <th class="headdate"><div>09.01.2024</div></th>
                </tr>
                <td class="headcol">
                    <span class="lesson">3 пара</span>
                    <span class="start"><strong>11:45</strong></span>
                    <span class="end"><strong>13:20</strong></span>
                </td>
                <td class="closed"></td>
                <td>
                    <div class="cell">
                        <div class="lesson-2">
                            <p>
                                ДТМІ-2018<strong>[ПЗ]</strong><br>
                                <strong>ауд. Дистанц.</strong><br>
                                <i>Шрам М.М.</i>
                            </p>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="cell"></div>
                </td>
                <td>
                    <div class="cell"></div>
                </td>
                <td>
                    <div class="cell"></div>
                </td>
                </tr>
                <tr>
                    <td class="headcol">
                        <span class="lesson">4 пара</span>
                        <span class="start"><strong>13:30</strong></span>
                        <span class="end"><strong>15:05</strong></span>
                    </td>
                    <td class="closed"></td>
                    <td>
                        <div class="cell"></div>
                    </td>
                    <td>
                        <div class="cell"></div>
                    </td>
                    <td>
                        <div class="cell"></div>
                    </td>
                    <td>
                        <div class="cell"></div>
                    </td>
                </tr>
                <tr>
                    <td class="headcol">
                        <span class="lesson">5 пара</span>
                        <span class="start"><strong>15:15</strong></span>
                        <span class="end"><strong>16:50</strong></span>
                    </td>
                    <td class="closed"></td>
                    <td>
                        <div class="cell"></div>
                    </td>
                    <td>
                        <div class="cell">
                            <div class="lesson-6">
                                <p>
                                    ПРО-2017<strong>[Зач]</strong><br>
                                    <strong>ауд. Дистанц.</strong><br>
                                    <i>Торошанко Я.І.</i>
                                </p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="cell"></div>
                    </td>
                    <td>
                        <div class="cell"></div>
                    </td>
                </tr>
                <tr>
                    <th class="headday">Ср</th>
                    <th class="headdate"><div>13.12.2023</div></th>
                    <th class="headdate"><div>20.12.2023</div></th>
                    <th class="headdate"><div>27.12.2023</div></th>
                    <th class="headdate"><div>03.01.2024</div></th>
                    <th class="headdate"><div>10.01.2024</div></th>
                </tr>
                <tr>
                    <td class="headcol">
                        <span class="lesson">4 пара</span>
                        <span class="start"><strong>13:30</strong></span>
                        <span class="end"><strong>15:05</strong></span>
                    </td>
                    <td>
                        <div class="cell">
                            <div class="lesson-2">
                                <p>
                                    ЗВВБ-2017<strong>[Пз]</strong><br>
                                    <strong>ауд. Дистанц.</strong><br>
                                    <i>Чатченко О.Є.</i>
                                </p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="cell">
                            <div class="lesson-2">
                                <p>
                                    ХТ-15<strong>[Пз]</strong><br>
                                    <strong>ауд. Дистанц.</strong><br>
                                    <i>Шикула О.М.</i>
                                </p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="cell">
                            <div class="lesson-6">
                                <p>
                                    ЗВВБ-2017<strong>[Зач]</strong><br>
                                    <strong>ауд. Дистанц.</strong><br>
                                    <i>Чатченко О.Є.</i>
                                </p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="cell"></div>
                    </td>
                    <td>
                        <div class="cell"></div>
                    </td>
                </tr>
                <tr>
                    <th class="headday">Чт</th>
                    <th class="headdate"><div>14.12.2023</div></th>
                    <th class="headdate"><div>21.12.2023</div></th>
                    <th class="headdate"><div>28.12.2023</div></th>
                    <th class="headdate"><div>04.01.2024</div></th>
                    <th class="headdate"><div>11.01.2024</div></th>
                </tr>
                <tr>
                    <td class="headcol">
                        <span class="lesson">2 пара</span>
                        <span class="start"><strong>09:45</strong></span>
                        <span class="end"><strong>11:20</strong></span>
                    </td>
                    <td>
                        <div class="cell">
                            <div class="lesson-2">
                                <p>
                                    ПРО-2017<strong>[Пз]</strong><br>
                                    <strong>ауд. Дистанц.</strong><br>
                                    <i>Торошанко Я.І.</i>
                                </p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="cell"></div>
                    </td>
                    <td>
                        <div class="cell"></div>
                    </td>
                    <td>
                        <div class="cell"></div>
                    </td>
                    <td class="closed"></td>
                </tr>
                <tr>
                    <td class="headcol">
                        <span class="lesson">3 пара</span>
                        <span class="start"><strong>11:45</strong></span>
                        <span class="end"><strong>13:20</strong></span>
                    </td>
                    <td>
                        <div class="cell">
                            <div class="lesson-2">
                                <p>
                                    WEB тех.-2016<strong>[Пз]</strong><br>
                                    <strong>ауд. 130К</strong><br>
                                    <i>Гордієнко К.О.</i>
                                </p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="cell">
                            <div class="lesson-2">
                                <p>
                                    WEB тех.-2016<strong>[Пз]</strong><br>
                                    <strong>ауд. 130К</strong><br>
                                    <i>Гордієнко К.О.</i>
                                </p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="cell">
                            <div class="lesson-6">
                                <p>
                                    WEB тех.-2016<strong>[Зач]</strong><br>
                                    <strong>ауд. 130К</strong><br>
                                    <i>Гордієнко К.О.</i>
                                </p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="cell"></div>
                    </td>
                    <td class="closed"></td>
                </tr>
                <tr>
                    <td class="headcol">
                        <span class="lesson">4 пара</span>
                        <span class="start"><strong>13:30</strong></span>
                        <span class="end"><strong>15:05</strong></span>
                    </td>
                    <td>
                        <div class="cell">
                            <div class="lesson-4">
                                <p>
                                    ДТМІ-2018<strong>[Лб]</strong><br>
                                    <strong>ауд. Дистанц.</strong><br>
                                    <i>Шрам М.М.</i>
                                </p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="cell">
                            <div class="lesson-6">
                                <p>
                                    ДТМІ-2018<strong>[Зач]</strong><br>
                                    <strong>ауд. Дистанц.</strong><br>
                                    <i>Шрам М.М.</i>
                                </p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="cell"></div>
                    </td>
                    <td>
                        <div class="cell"></div>
                    </td>
                    <td class="closed"></td>
                </tr>
                <tr>
                    <th class="headday">Пт</th>
                    <th class="headdate"><div>15.12.2023</div></th>
                    <th class="headdate"><div>22.12.2023</div></th>
                    <th class="headdate"><div>29.12.2023</div></th>
                    <th class="headdate"><div>05.01.2024</div></th>
                    <th class="headdate"><div>12.01.2024</div></th>
                </tr>
                <tr>
                    <td class="headcol">
                        <span class="lesson">1 пара</span>
                        <span class="start"><strong>08:00</strong></span>
                        <span class="end"><strong>09:35</strong></span>
                    </td>
                    <td>
                        <div class="cell"></div>
                    </td>
                    <td>
                        <div class="cell"></div>
                    </td>
                    <td>
                        <div class="cell"></div>
                    </td>
                    <td>
                        <div class="cell"></div>
                    </td>
                    <td class="closed"></td>
                </tr>
                <tr>
                    <th class="headday">Сб</th>
                    <th class="headdate"><div>16.12.2023</div></th>
                    <th class="headdate"><div>23.12.2023</div></th>
                    <th class="headdate"><div>30.12.2023</div></th>
                    <th class="headdate"><div>06.01.2024</div></th>
                    <th class="headdate"><div>13.01.2024</div></th>
                </tr>
                <tr>
                    <td class="headcol">
                        <span class="lesson">1 пара</span>
                        <span class="start"><strong>08:00</strong></span>
                        <span class="end"><strong>09:35</strong></span>
                    </td>
                    <td>
                        <div class="cell"></div>
                    </td>
                    <td>
                        <div class="cell"></div>
                    </td>
                    <td>
                        <div class="cell"></div>
                    </td>
                    <td>
                        <div class="cell"></div>
                    </td>
                    <td class="closed"></td>
                </tr>
                <tr>
                    <th class="headday">Нд</th>
                    <th class="headdate"><div>17.12.2023</div></th>
                    <th class="headdate"><div>24.12.2023</div></th>
                    <th class="headdate"><div>31.12.2023</div></th>
                    <th class="headdate"><div>07.01.2024</div></th>
                    <th class="headdate"><div>14.01.2024</div></th>
                </tr>
                <tr>
                    <td class="headcol">
                        <span class="lesson">1 пара</span>
                        <span class="start"><strong>08:00</strong></span>
                        <span class="end"><strong>09:35</strong></span>
                    </td>
                    <td>
                        <div class="cell"></div>
                    </td>
                    <td>
                        <div class="cell"></div>
                    </td>
                    <td>
                        <div class="cell"></div>
                    </td>
                    <td>
                        <div class="cell"></div>
                    </td>
                    <td class="closed"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>
