<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="./style.css">
</head>
<body>
    <header class="header-bg">
            <div class="h1">
                <h1>Weekly plan</h1> 
            </div>
            <div class="top-section">
                <div class="title-block">
                    <div class="top-section-p">
                        <p>Week of</p>
                    </div>
                    <div class="top-section-hr">
                        <div class="group-head">
                            <input class="input1" type="text" required>
                            <span class="highlight1"></span>
                            <span class="bar1"></span>
                        </div> 
                    </div>
                </div>
                <div class="title-block">
                    <div class="top-section-p">
                        <p>Healthy habit</p>
                    </div>
                    <div class="top-section-hr">
                        <div class="group-head">
                            <input class="input1" type="text" required>
                            <span class="highlight1"></span>
                            <span class="bar1"></span>
                        </div> 
                    </div>
                </div>
                <div class="top-section-cb">
                    <div class="title-block-cb">
                        <div class="top-section-p">
                            <p>Rocket it</p>
                        </div>
                        <div class="top-section-p">
                            <p>Room for improvment</p>
                        </div>
                        
                    </div>
                    <div class="title-block-cb2">
                        <div class="checkbox">
                            <input type="checkbox" id="goa-1">
                            <label for="goa-1"></label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" id="goa-2">
                            <label for="goa-2"></label>
                        </div>
                    </div>
                </div>
            </div> 
    </header> 
    <div class="planner">   
        <div class="main-content">
            <div class="left-part">
                <div class="left-block">
                    <h2> 3 Goals per week</h2>
                    <div class="checkbox__item">
                        <div class="section-ch-input">
                            <div class="checkbox">
                                <input type="checkbox" id="goal-1">
                                <label for="goal-1"></label>
                            </div>
                            <div class="group">
                                <input type="text" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                            </div>
                        </div>
                     

                        <div class="section-ch-input">
                            <div class="checkbox">
                                <input type="checkbox" id="goal-2">
                                <label for="goal-2"></label>
                            </div>
                            <div class="group">
                                <input type="text" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                            </div>
                            
                        </div>

                        <div class="section-ch-input">
                            <div class="checkbox">
                                <input type="checkbox" id="goal-3">
                                <label for="goal-3"></label>
                            </div>
                            <div class="group">
                                <input type="text" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="center-block">
                    <h2>Other Cases</h2>
                    <div class="checkbox-container">
                        <div class="section-ch-input">
                            <div class="checkbox">
                                <input type="checkbox" id="task-1">
                                <label for="task-1"></label>
                            </div>
                            <div class="group">
                                <input type="text" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                            </div>
                        </div>
                        <div class="section-ch-input">
                            <div class="checkbox">
                                <input type="checkbox" id="task-2">
                                <label for="task-2"></label>
                            </div>
                            <div class="group">
                                <input type="text" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                            </div>
                        </div>    
                        <div class="section-ch-input">
                            <div class="checkbox">
                                <input type="checkbox" id="task-3">
                                <label for="task-3"></label>
                            </div>
                            <div class="group">
                                <input type="text" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                            </div>
                        </div>
                        <div class="section-ch-input">  
                            <div class="checkbox">
                                <input type="checkbox" id="task-4">
                                <label for="task-4"></label>
                            </div>
                            <div class="group">
                                <input type="text" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                            </div>
                        </div> 
                        <div class="section-ch-input">
                            <div class="checkbox">
                                <input type="checkbox" id="task-5">
                                <label for="task-5"></label>
                            </div>
                            <div class="group">
                                <input type="text" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                            </div>
                        </div>
                        <div class="section-ch-input">   
                            <div class="checkbox">
                                <input type="checkbox" id="task-6">
                                <label for="task-6"></label>
                            </div>
                            <div class="group">
                                <input type="text" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                            </div>
                        </div>
                        <div class="section-ch-input">    
                            <div class="checkbox">
                                <input type="checkbox" id="task-7">
                                <label for="task-7"></label>
                            </div>
                            <div class="group">
                                <input type="text" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                            </div>
                        </div>
                        <div class="section-ch-input">   
                            <div class="checkbox">
                                <input type="checkbox" id="task-8">
                                <label for="task-8"></label>
                            </div>
                            <div class="group">
                                <input type="text" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                            </div>
                        </div>
                        <div class="section-ch-input">   
                            <div class="checkbox">
                                <input type="checkbox" id="task-9">
                                <label for="task-9"></label>
                            </div>
                            <div class="group">
                                <input type="text" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                            </div>
                        </div>
                        <div class="section-ch-input">    
                            <div class="checkbox">
                                <input type="checkbox" id="task-10">
                                <label for="task-10"></label>
                            </div>
                            <div class="group">
                                <input type="text" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right-block">
                    <h2>4 Main cases of the week</h2>
                    <div class="checkbox-container">
                        <div class="section-ch-input">
                            <div class="checkbox">
                                <input type="checkbox" id="next-week-1">
                                <label for="next-week-1"></label>
                            </div>
                            <div class="group">
                                <input type="text" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                            </div>
                        </div>
                        <div class="section-ch-input">   
                            <div class="checkbox">
                                <input type="checkbox" id="next-week-2">
                                <label for="next-week-2"></label>
                            </div>
                            <div class="group">
                                <input type="text" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                            </div>
                        </div> 
                        <div class="section-ch-input">    
                            <div class="checkbox">
                                <input type="checkbox" id="next-week-3">
                                <label for="next-week-3"></label>
                            </div>
                            <div class="group">
                                <input type="text" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                            </div>
                        </div> 
                        <div class="section-ch-input">    
                            <div class="checkbox">
                                <input type="checkbox" id="next-week-4">
                                <label for="next-week-4"></label>
                            </div>
                            <div class="group">
                                <input type="text" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-part">
                <div class="day-block"><p>Monday</p>
                    <textarea class="custom-textarea" placeholder="Ваш текст тут..."></textarea>
                </div>
                <div class="day-block"><p>Tuesday</p>
                    <textarea class="custom-textarea" placeholder="Ваш текст тут..."></textarea>
                </div>
                <div class="day-block"><p>Wednesday</p>
                    <textarea class="custom-textarea" placeholder="Ваш текст тут..."></textarea>
                </div>
                <div class="day-block"><p>Thursday</p>
                    <textarea class="custom-textarea" placeholder="Ваш текст тут..."></textarea>
                </div>
                <div class="day-block"><p>Friday</p>
                    <textarea class="custom-textarea" placeholder="Ваш текст тут..."></textarea>
                </div>
                <div class="weekend-day">
                    <div class="day-block"><p>Saturday</p>
                        <textarea class="custom-textarea" placeholder="Ваш текст тут..."></textarea>
                    </div>
                    <div class="day-block"><p>Sunday</p>
                        <textarea class="custom-textarea" placeholder="Ваш текст тут..."></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
