<!DOCTYPE html>
<html>
<head>
    <title>Схожий на YouTube</title>
    <link rel="stylesheet" type="text/css" href="style/style.css">
</head>
<body>
    <header>
        <ul>
            <li><a href="#">Головна</a></li>
            <li><a href="#">Популярні</a></li>
            <li><a href="#">Відео</a></li>
            <li><a href="#">Інші</a></li>
        </ul>
    </header>
    <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ВАШЕ_ВІДЕО_ID" frameborder="0" allowfullscreen></iframe>
    </div>
</body>
</html>
